:root {
  scroll-behavior: smooth;
  scroll-padding: 64px;
}

::-webkit-scrollbar {
  width: 13px;
  height: 13px;
  display: block;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  display: block;
  background: #ffffff4f;
  border-radius: 10px;
  background-clip: padding-box;
}

::-webkit-scrollbar-track {
  background: transparent;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: #e6e6fa;
  font-weight: 100;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  -webkit-transition: all 0.24s ease 0s;
  transition: all 0.24s ease 0s;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #1a1b1d;
}

[lune~="app"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

[lune~="header"] {
  position: relative;
}

[lune~="body"] {
  position: relative;
}

[lune~="footer"] {
  position: relative;
}

[lune~="draggable"],
[lune~="draggable"] * {
  -webkit-user-drag: auto;
}

[lune~="selectable"],
[lune~="selectable"] * {
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
}

[lune~="capital"] {
  text-transform: capitalize;
}

[lune~="upper"] {
  text-transform: uppercase;
}

[lune~="lower"] {
  text-transform: lowercase;
}

[lune~="title"] {
  text-decoration: none;
  display: block;
  padding: 16px 32px;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  margin: 24px auto 0;
  border-radius: 2px;
  border-bottom: 2px dashed #e6e6faf6;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  opacity: 0.48;
}

[lune~="href"]:hover,
[lune~="href"].active {
  opacity: 1;
}

[lune~="href"]:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

[lune~="line"] {
  width: 50%;
  margin: 24px auto 12px;
  border-bottom: 2px dashed #e6e6fa16;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

[lune~="card"] {
  overflow: hidden;
  margin: 24px;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  outline-color: #e6e6fa14;
  outline-style: dashed;
  outline-offset: 4px;
  outline-width: 2px;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

[lune~="card"] > img {
  width: 100%;
}

[lune~="card"] > h1 {
  font-size: 16px;
  letter-spacing: 1px;
  padding: 8px;
  text-align: center;
}

[lune~="card"] > h2 {
  font-size: 13px;
  text-align: center;
  padding: 0 8px 8px;
}

[lune~="card"] > span {
  font-size: 11px;
  display: block;
  text-align: center;
  margin: 4px;
}

[lune~="box"] {
  background-color: #0000000f;
  overflow: hidden;
  margin: 24px;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  outline-color: #e6e6fa16;
  outline-style: dashed;
  outline-width: 2px;
  line-height: 2;
  padding: 24px 64px;
  text-align: center;
  font-size: 15px;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

[lune~="panel"] {
  background-color: #0000000f;
  border-radius: 2px;
  margin: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 24px;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

[lune~="panel"] > h1 {
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 2px;
  text-align: center;
  padding: 12px;
  font-weight: 200;
}

[lune~="panel"] > h2 {
  font-size: 16px;
  line-height: 2;
  text-align: center;
}

[lune~="message"] {
  position: relative;
  background-color: #0000000f;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 2px;
  margin: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
  font-size: 14px;
  text-align: center;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  -webkit-box-shadow: 0 0 1px #ffffff24;
          box-shadow: 0 0 1px #ffffff24;
}

[lune~="message"]::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  bottom: -1px;
  background: #00e8ba;
  border-radius: 2px;
}

[lune~="alert"] {
  position: relative;
  background-color: #0000000f;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 2px;
  margin: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
  font-size: 14px;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  -webkit-box-shadow: 0 0 1px #ffffff24;
          box-shadow: 0 0 1px #ffffff24;
}

[lune~="alert"]::after {
  content: "";
  background-color: #e6e6faf6;
  position: absolute;
  width: 2px;
  height: 75%;
  left: -1px;
  background: #00e8ba;
  border-radius: 2px;
}

[lune~="alert"][lune~="rtl"]::after {
  left: unset;
  right: -1px;
}

[lune~="alert"][lune~="success"]::after,
[lune~="message"][lune~="success"]::after {
  background: linear-gradient(-225deg, #37c77f 0%, #1bb98a 100%);
}

[lune~="alert"][lune~="error"]::after,
[lune~="message"][lune~="error"]::after {
  background: linear-gradient(120deg, #e55d4d 0%, #e44484 100%);
}

[lune~="alert"][lune~="info"]::after,
[lune~="message"][lune~="info"]::after {
  background: linear-gradient(160deg, #0093e9 0%, #64abca 100%);
}

[lune~="alert"][lune~="warn"]::after,
[lune~="message"][lune~="warn"]::after {
  background: linear-gradient(120deg, #e2c258 0%, #ff9477 100%);
}

[lune~="code"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  line-height: 2;
  padding: 12px 24px;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  margin: 24px;
  width: -webkit-fill-available;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 1px #ffffff24;
          box-shadow: 0 0 1px #ffffff24;
  background-color: #0000000f;
}

[lune~="code"] > code {
  font-family: "Major Mono Display", "Source Code Pro", consolas, monospace;
  overflow: auto;
  font-size: 12px;
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
  letter-spacing: 1px;
  text-align: left;
  line-height: 2.4;
}

[lune~="code"] > code * {
  font-family: "Major Mono Display", "Source Code Pro", consolas, monospace;
}

[lune~="button"] {
  text-decoration: none;
  background-color: #e6e6fa16;
  text-decoration: none;
  padding: 0 12px;
  border-radius: 4px;
  margin: 12px auto;
  font-size: 12px;
  line-height: 32px;
}

[lune~="button"]:hover {
  opacity: 0.72;
}

[lune~="button"]:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

[lune~="input"] {
  background-color: #0000000f;
  border-radius: 2px;
  margin: 4px;
  padding: 10px 12px;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  -webkit-box-shadow: 0 0 2px #ffffff24;
          box-shadow: 0 0 2px #ffffff24;
}

[lune~="input"]:hover {
  background-color: #ffffff02;
}

[lune~="input"]:focus {
  background-color: #ffffff06;
  -webkit-box-shadow: 0 0 2px #ffffff48;
          box-shadow: 0 0 2px #ffffff48;
}

[lune~="input"][lune~="error"] {
  -webkit-box-shadow: 0 0 2px #e55d4d;
          box-shadow: 0 0 2px #e55d4d;
}

[lune*="nav"] {
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

[lune*="nav"] > * {
  display: block;
  text-decoration: none;
  padding: 6px;
  margin: 0 2px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  text-align: center;
  opacity: 0.48;
}

[lune*="nav"] > *:hover,
[lune*="nav"] > *.active {
  opacity: 1;
}

[lune*="nav"] > *:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

[lune="rt"] {
  padding: 48px;
  display: inline-block;
  background: #f6f1d5f6;
  border-radius: 100%;
  margin: 120px;
  outline-color: #f6f1d524;
  outline-offset: 16px;
  outline-style: solid;
  outline-width: 2px;
  -webkit-box-shadow: 0 0 320px 48px #f6f1d524;
          box-shadow: 0 0 320px 48px #f6f1d524;
  -webkit-animation: rt 2s infinite alternate ease-in-out;
          animation: rt 2s infinite alternate ease-in-out;
}

@-webkit-keyframes rt {
  0% {
    outline-offset: 4px;
  }
  100% {
    outline-offset: 24px;
  }
}

@keyframes rt {
  0% {
    outline-offset: 4px;
  }
  100% {
    outline-offset: 24px;
  }
}

[lune~="squit"] > span {
  position: absolute;
  padding: 6px;
  background-color: transparent;
  border: 2px solid #e6e6faf6;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 4px #e6e6fa24;
          box-shadow: 0 0 4px #e6e6fa24;
}

[lune~="squit"] > span:nth-child(1) {
  top: 24px;
  left: 24px;
}

[lune~="squit"] > span:nth-child(2) {
  top: 240px;
  left: 80%;
}

[lune~="squit"] > span:nth-child(3) {
  top: 48px;
  left: 90%;
}

[lune~="squit"] > span:nth-child(4) {
  top: 480px;
  left: 25%;
}

[lune~="grad:info"] {
  background-image: linear-gradient(160deg, #0093e9 0%, #64abca 100%);
  text-shadow: 0 0 24px #0000008f;
}

[lune~="grad:error"] {
  background-image: linear-gradient(120deg, #e55d4d 0%, #e44484 100%);
  text-shadow: 0 0 24px #0000008f;
}

[lune~="grad:success"] {
  background-image: linear-gradient(-225deg, #37c77f 0%, #1bb98a 100%);
  text-shadow: 0 0 24px #0000008f;
}

[lune~="grad:warn"] {
  background-image: linear-gradient(120deg, #e2c258 0%, #ff9477 100%);
  text-shadow: 0 0 24px #0000008f;
}

[lune~="back:info"] {
  background-color: #0093e9;
}

[lune~="back:warn"] {
  background-color: #e2c258;
}

[lune~="back:success"] {
  background-color: #37c77f;
}

[lune~="back:error"] {
  background-color: #e55d4d;
}

[lune~="hover?grad:info"]:hover {
  background-image: linear-gradient(160deg, #0093e9 0%, #64abca 100%);
  text-shadow: 0 0 24px #0000008f;
}

[lune~="hover?grad:error"]:hover {
  background-image: linear-gradient(120deg, #e55d4d 0%, #e44484 100%);
  text-shadow: 0 0 24px #0000008f;
}

[lune~="hover?grad:success"]:hover {
  background-image: linear-gradient(-225deg, #37c77f 0%, #1bb98a 100%);
  text-shadow: 0 0 24px #0000008f;
}

[lune~="hover?grad:warn"]:hover {
  background-image: linear-gradient(120deg, #e2c258 0%, #ff9477 100%);
  text-shadow: 0 0 24px #0000008f;
}

[lune~="hover?back:info"]:hover {
  background-color: #0093e9;
}

[lune~="hover?back:warn"]:hover {
  background-color: #e2c258;
}

[lune~="hover?back:success"]:hover {
  background-color: #37c77f;
}

[lune~="hover?back:error"]:hover {
  background-color: #e55d4d;
}

[lune~="flex"] {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

[lune~="flex"][lune~="row"] {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-flow: row !important;
          flex-flow: row !important;
}

[lune~="flex"][lune~="column"] {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-flow: column !important;
          flex-flow: column !important;
}

[lune~="flex"][lune~="wrap"] {
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
}

[lune~="flex"][lune~="center"] {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

[lune~="flex"][lune~="space:a"] {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

[lune~="flex"][lune~="space:b"] {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

[lune~="flex"][lune~="space:e"] {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

[lune~="flex:1"] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 319px) {
  [lune~="xs:column"] {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  [lune~="xs:row"] {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
}

@media screen and (max-width: 479px) {
  [lune~="sm:column"] {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  [lune~="sm:row"] {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
}

@media screen and (max-width: 779px) {
  [lune~="md:column"] {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  [lune~="md:row"] {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
}

@media screen and (max-width: 1099px) {
  [lune~="lg:column"] {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  [lune~="lg:row"] {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
}

@media screen and (min-width: 1100px) {
  [lune~="xl:column"] {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  [lune~="xl:row"] {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
}

[lune~="temp:alert"] {
  -webkit-animation: scale-in-center 0.24s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: scale-in-center 0.24s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  position: fixed;
  top: 50%;
  left: 50%;
  background-image: linear-gradient(45deg, #2a2b2d2f, #1a1b1d2f);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 64px;
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  -webkit-box-shadow: 0 0 2px #ffffff24;
          box-shadow: 0 0 2px #ffffff24;
  max-width: 240px;
}

[lune~="temp:alert"]::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  bottom: -1px;
  background: #00e8ba;
  border-radius: 2px;
}

[lune~="temp:alert"] > div:nth-child(1) {
  padding: 0 12px 12px;
  font-size: 20px;
}

[lune~="temp:alert"] > div:nth-child(2) {
  padding: 12px;
  font-size: 14px;
}

[lune~="temp:alert"] > div:nth-child(3) {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

[lune~="temp:alert"] > div:nth-child(3) > button {
  margin: 0 6px;
}

[lune~="temp:message"] {
  -webkit-animation: scale-in 0.24s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: scale-in 0.24s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  position: fixed;
  bottom: 24px;
  left: 24px;
  background-image: linear-gradient(45deg, #2a2b2d2f, #1a1b1d2f);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 32px;
  border-radius: 4px;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  -webkit-box-shadow: 0 0 2px #ffffff24;
          box-shadow: 0 0 2px #ffffff24;
  max-width: 240px;
}

[lune~="temp:message"] > button {
  position: fixed;
  top: 2px;
  right: 2px;
  border-radius: 4px;
  background: #ffffff0f;
  width: 20px;
  height: 20px;
  font-size: 12px;
}

[lune~="temp:message"] > button:hover {
  background: #ffffff1f;
}

[lune~="temp:message"] > button:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

[lune~="temp:message"]::after {
  content: "";
  position: absolute;
  height: 50%;
  width: 2px;
  left: -1px;
  background: #00e8ba;
  border-radius: 2px;
}

[lune~="temp:message"][lune~="rtl"]::after {
  left: unset;
  right: -1px;
}

[lune~="temp:alert"][lune~="success"]::after,
[lune~="temp:message"][lune~="success"]::after {
  background: linear-gradient(-225deg, #37c77f 0%, #1bb98a 100%);
}

[lune~="temp:alert"][lune~="error"]::after,
[lune~="temp:message"][lune~="error"]::after {
  background: linear-gradient(120deg, #e55d4d 0%, #e44484 100%);
}

[lune~="temp:alert"][lune~="info"]::after,
[lune~="temp:message"][lune~="info"]::after {
  background: linear-gradient(160deg, #0093e9 0%, #64abca 100%);
}

[lune~="temp:alert"][lune~="warn"]::after,
[lune~="temp:message"][lune~="warn"]::after {
  background: linear-gradient(120deg, #e2c258 0%, #ff9477 100%);
}

[lune~="temp:alert"].hide {
  -webkit-animation: scale-out-center 0.32s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: scale-out-center 0.32s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

[lune~="temp:message"].hide {
  -webkit-animation: scale-out 0.32s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: scale-out 0.32s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0) translate(-100%, -100%);
            transform: scale(0) translate(-100%, -100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0) translate(-100%, -100%);
            transform: scale(0) translate(-100%, -100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
}

@-webkit-keyframes scale-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0) translate(-100%, -100%);
            transform: scale(0) translate(-100%, -100%);
    opacity: 0;
  }
}

@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0) translate(-100%, -100%);
            transform: scale(0) translate(-100%, -100%);
    opacity: 0;
  }
}

@-webkit-keyframes scale-out {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0) translate(-100%, -100%);
            transform: scale(0) translate(-100%, -100%);
    opacity: 0;
  }
}

@keyframes scale-out {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0) translate(-100%, -100%);
            transform: scale(0) translate(-100%, -100%);
    opacity: 0;
  }
}

[lune~="none"] {
  display: none;
}
/*# sourceMappingURL=lune.css.map */