[lune~="flex"] {
  display: flex !important;
}

[lune~="flex"][lune~="row"] {
  flex-flow: row !important;
}

[lune~="flex"][lune~="column"] {
  flex-flow: column !important;
}

[lune~="flex"][lune~="wrap"] {
  flex-wrap: wrap !important;
}

[lune~="flex"][lune~="center"] {
  justify-content: center;
  align-items: center;
}

[lune~="flex"][lune~="space:a"] {
  justify-content: space-around;
}

[lune~="flex"][lune~="space:b"] {
  justify-content: space-between;
}

[lune~="flex"][lune~="space:e"] {
  justify-content: space-evenly;
}

[lune~="flex:1"] {
  flex: 1;
}

@media screen and (max-width: 319px) {
  [lune~="xs:column"] {
    flex-flow: column;
  }
  [lune~="xs:row"] {
    flex-flow: row;
  }
}
@media screen and (max-width: 479px) {
  [lune~="sm:column"] {
    flex-flow: column;
  }
  [lune~="sm:row"] {
    flex-flow: row;
  }
}
@media screen and (max-width: 779px) {
  [lune~="md:column"] {
    flex-flow: column;
  }
  [lune~="md:row"] {
    flex-flow: row;
  }
}
@media screen and (max-width: 1099px) {
  [lune~="lg:column"] {
    flex-flow: column;
  }
  [lune~="lg:row"] {
    flex-flow: row;
  }
}
@media screen and (min-width: 1100px) {
  [lune~="xl:column"] {
    flex-flow: column;
  }
  [lune~="xl:row"] {
    flex-flow: row;
  }
}
