// ===========================================
//   Project: Lune UI
//   Dev: Uroki RT
//   Date: 2021.10.23
//   Version: 1.0.0
//   Github: https://github.com/uroki/lune
// ===========================================

@import "vars";

:root {
  scroll-behavior: smooth;
  scroll-padding: 64px;
}
::-webkit-scrollbar {
  width: 13px;
  height: 13px;
  display: block;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  display: block;
  background: #ffffff4f;
  border-radius: 10px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
::-webkit-scrollbar-track {
  background: transparent;
}
* {
  font-family: $pr-font;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: $pr-color-0;
  font-weight: 100;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
  transition: $pr-trans;
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: $pr-back;
}
[lune~="app"] {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
}
[lune~="header"] {
  position: relative;
}
[lune~="body"] {
  position: relative;
}
[lune~="footer"] {
  position: relative;
}
[lune~="draggable"],
[lune~="draggable"] * {
  -webkit-user-drag: element;
}
[lune~="selectable"],
[lune~="selectable"] * {
  user-select: text;
}
[lune~="capital"] {
  text-transform: capitalize;
}
[lune~="upper"] {
  text-transform: uppercase;
}
[lune~="lower"] {
  text-transform: lowercase;
}
[lune~="title"] {
  text-decoration: none;
  display: block;
  padding: 16px 32px;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  margin: 24px auto 0;
  border-radius: 2px;
  border-bottom: 2px dashed $pr-color-1;
  width: fit-content;
  opacity: 0.48;
}
[lune~="href"]:hover,
[lune~="href"].active {
  opacity: 1;
}
[lune~="href"]:active {
  transform: translateY(2px);
}
[lune~="line"] {
  width: 50%;
  margin: 24px auto 12px;
  border-bottom: 2px dashed #e6e6fa16;
}
[lune~="badge"] {
  height: 24px;
  margin: auto 8px;
  padding: 0 8px;
  display: inline-block;
  line-height: 24px;
  border-radius: 24px;
  font-size: 10px;
  text-transform: uppercase;
  background-color: #0000002f;
}
[lune~=bold] {
  font-weight: bold;
}

a {
  text-decoration: none;
}
img {
  width: 100%;
}

@import "boxes", "elements", "nav", "rt", "backs", "flex", "temp";

[lune~="none"] {
  display: none;
}
